body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fefae0;
    font-family: 'Poppins', sans-serif;
}

#main-body {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 630px;
    background: #edf6f9;
    border-radius: 1rem;
    border: .3rem black solid;
    padding: 30px 25px 25px 25px;
}

#main-screen {
    width: 380px;
    height: 100px;
    background: #e3ecee;
    border-radius: 1rem;
    border: .2rem black solid;

}

#button-box {
    display: grid;
    width: 400px;
    height: 500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.row {
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background-color: #edf6f9;
    border-radius: 1rem;
    border: .2rem black solid;
    justify-self: center;
    align-self: center;
    transition: all .1s;
}

.button:hover {
    cursor: pointer;
    background: #cbc0d3;
}

.op {
    background: #83c5be;
}

.op:hover {
    color: #edf6f9;
    background: #006d77;
}

.sys {
    background: #ffddd2;
}

.sys:hover {
    color: #edf6f9;
    background: #e29578;
}