body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7c7b7b;
}

#main-body {
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 800px;
    background: #edf6f9;
    border-radius: 1em;
    border: .4em black solid;
    padding: 50px;
}

#main-screen {
    width: 500px;
    height: 100px;
    background: #e3ecee;
    border-radius: 1.2rem;
    border: .3rem black solid;

}

.row {
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    background-color: #edf6f9;
    border-radius: 1.2rem;
    border: .3rem black solid;
}

#divide,
#multiply,
#subtract,
#add {
    background: #83c5be;
}

#on,
#ac {
    background: #ffddd2;
}